<div class="container" style="width: auto; margin-top: 2%;">

</div>
<div class="jumbotron text-center" style="height: 70%; margin-bottom: auto;">
    <h1 class="display-3">Team <strong>MIMMAR</strong> Thanks You For Booking With Us</h1>
    <p class="lead"><strong>Please check your email</strong> since a confirmation email has been sent there!</p>
    <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="../listing/" role="button">Continue Booking</a>
    </p>
  </div>